:root{
  color-scheme: light dark;
  --background-color: light-dark(white, black);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}