:root{
  color-scheme: light dark;
  --background-color: light-dark(rgb(233, 233, 233), rgb(46, 46, 46));
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}